body{
    background-color: black;
    color: aliceblue; 
    padding: 0;
    margin: 0;
}
header{
            width: 100%;
            height: 10vh;
            background-color: rgb(56, 54, 54);
            a{
                height: 10vh;
                width: 20vw;
                border-radius: 10%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: space-between;
    }
}
